.expense-list {
    display: flex;
    flex-direction: column;
}

.fixed-expense-table {
    width: 500px;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 16px;
    align-self: center;

}

.fixed-expense-table tr {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
 }