* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

li {
  list-style: none;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}
