.add-expense-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #F29F8D;
    border-radius: 25px;
}


label {
    text-align: left;
    display: block;
}

.error {
    font-size: 14px;
}